@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}
<h2 style="font-family: Merienda; font-size: 36px; color:#07BEB8">Welcome to River Me This...</h2>

<h6>"Please Login or Register to begin"</h6>
<img src="~/images/ElkRiver.jpg" style="background-image:url(~/images/ElkRiver.jpg); width: 80vw; height: 75vh;">









