@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RiverMeThis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">

</head>
<body style="font-family:Merienda;">
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm bg-navbar box-shadow mb-3" style="padding:0; width:100vw;">
            <div class="container" style="margin-left:1em;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding:0;font-size: 40px">River Me This</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="width: 85vw;">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left:5em;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item" style="margin-left:2em;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="FloatTrips" asp-action="Index">Floats</a>
                            </li>
                            <li class="nav-item" style="margin-left:2em;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Progress" asp-action="Index">How You Doin'?</a>
                            </li>
                            <li class="nav-item" style="margin-left:2em; margin-right:7.5em;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Details">View Profile</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - RiverMeThis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
