@model RiverMeThis.Models.FloatTrip

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FloatTrip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FloatTripId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfFloaters" class="control-label"></label>
                <input asp-for="NumberOfFloaters" class="form-control" />
                <span asp-validation-for="NumberOfFloaters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicPath" class="control-label"></label>
                <input asp-for="PicPath" class="form-control" />
                <span asp-validation-for="PicPath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedASherpa" /> @Html.DisplayNameFor(model => model.NeedASherpa)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiverId" class="control-label"></label>
                <select asp-for="RiverId" class="form-control" asp-items="ViewBag.RiverId"></select>
                <span asp-validation-for="RiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PutInAPId" class="control-label"></label>
                <select asp-for="PutInAPId" class="form-control" asp-items="ViewBag.PutInAPId"></select>
                <span asp-validation-for="PutInAPId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOutAPId" class="control-label"></label>
                <select asp-for="TakeOutAPId" class="form-control" asp-items="ViewBag.TakeOutAPId"></select>
                <span asp-validation-for="TakeOutAPId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceId" class="control-label"></label>
                <select asp-for="DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SherpaId" class="control-label"></label>
                <select asp-for="SherpaId" class="form-control" asp-items="ViewBag.SherpaId"></select>
                <span asp-validation-for="SherpaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
